.top-promo{
  width: 100%;
  height: 75vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top-promo>img{
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

.promo-data{
  position: absolute;
  bottom: 0;
  right: 0;
}

.promo-data>h1{
  font-size: xx-large;
}

.gradient-filter{
  width: 100%;
  height: 70%;
  position: absolute;
  margin-top: 6vh;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.76) 56%, rgba(66,65,78,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 56%,rgba(66,65,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.76) 56%,rgba(66,65,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#42414e',GradientType=0 ); /* IE6-9 */
}
