<div class="bg-dark text-white py-5">
  <div class="container footer">
    <div class="row">
      <div class="col-3">
        <ul>
          <li>CATEGORIA</li>
          <li>ejemplo1</li>
          <li>ejemplo2</li>
          <li>ejemplo3</li>
          <li>ejemplo4</li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li>CATEGORIA</li>
          <li>ejemplo1</li>
          <li>ejemplo2</li>
          <li>ejemplo3</li>
          <li>ejemplo4</li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li>CATEGORIA</li>
          <li>ejemplo1</li>
          <li>ejemplo2</li>
          <li>ejemplo3</li>
          <li>ejemplo4</li>
        </ul>
      </div>
      <!-- <div class="col-3">
        <ul>
          <li>CATEGORIA</li>
          <li>ejemplo1</li>
          <li>ejemplo2</li>
          <li>ejemplo3</li>
          <li>ejemplo4</li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="text-center mt-5 fs-6 text-white-50">
    <p>Made with ❤ by Joel Almarza</p>
    <p>Ohh!!... I use some <i class="fab fa-angular"></i> and <i class="fab fa-node-js"></i> too! 😅</p>
    <p>{{date}}©Notflix</p>
  </div>
</div>
