<div class="filter"></div>
<div class="background">
  <video height="100%" autoplay [muted]="'muted'" loop>
    <source src="assets/img/video-test-1.mp4" type="video/mp4">
  </video>
</div>

<div class="row mt-5 ">
  <div class="col-md-6 col-12 p-5 options mt-5">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 p-5">
          <h1>Animales Fantasticos: Los Crimenes de Grindelwald</h1>
        </div>
        <div class="col-12 p-3"><i class="fas fa-play pe-3"></i>Reproducir</div>
        <div class="col-12 p-3"><i class="fas fa-plus pe-3"></i>Añadir a la lista</div>
      </div>
    </div>
  </div>
</div>
